# Meta
META_VERIFY_TOKEN=f45620631bf1eec909ccad493137a0cf
META_ACCESS_TOKEN=
META_PHONE_NUMBER_ID=761549910376296
META_API_VERSION=v21.0

# Chatwoot
CHATWOOT_BASE_URL=https://chatwooot-demo.kevinbelier.cloud
CHATWOOT_API_TOKEN=
CHATWOOT_ACCOUNT_ID=1
CHATWOOT_INBOX_ID=1
